nav {
  width: 200px;
  display: block;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 30px;
  box-sizing: border-box;
  opacity: .1;
  transition: all .4s ease-out;
}
nav:hover {
  opacity: 1;
  transition: all .1s ease-out;
}
nav li:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  widows: 100%;
}
nav p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  width: 100%
}
nav a  {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
nav ul li {
  list-style-type: none;
  margin-top: 4px;
  width: 100%;
}
nav ul ul li {
  color: #777;
  margin-left: 10px;
}
nav ul, nav li {
  width: 100%
}
